# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.class
*.dmp
*.ilk
*.pdb
*.aqo
*.beam
*.cgo
*.obj
*.[oa]
*.dump
*.ncb
*.suo
*.stackdump
*.opensdf
*.sdf
*.vcxproj.*
.sconsign.*

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# Don't put the binary toolsets in the repo...
toolsets/_dl/
toolsets/*/nt-x86/
toolsets/*/_*nt-x86*.7z
toolsets/*/nt-x64/
toolsets/*/_*nt-x64*.7z
toolsets/*/osx-x86/
toolsets/*/_*osx-x86*.7z
toolsets/*/osx-x64/
toolsets/*/_*osx-x64*.7z
toolsets/*/osx-arm64/
toolsets/*/_*osx-arm64*.7z
toolsets/*/lin-x64/
toolsets/*/_*lin-x64*.7z
toolsets/*/jars/
toolsets/*/_*jars*.7z
toolsets/*/jvm/
toolsets/*/_*jvm*.7z
toolsets/*/python/
toolsets/*/_*python*.7z
toolsets/cg/docs/

# Don't put pods binaries in the repo
pods/

# Symbolic links
bin/osx-x86/python2

# ham
sources/ham/tests/*/*.exe
sources/ham/src/Makefile
sources/ham/src/builds/unix/config.status
sources/ham/src/jambase.c

# astyle
sources/astyle/build/vs2012/Release/
sources/astyle/build/vs2012/Debug/
sources/astyle/build/vs2012/bin/

# misc
bin/.bash_history
sources/*/tests/*.exe
sources/*/tests/*.x86
sources/*/tests/*.x64
bin/nt-x86/winscp.ini
