# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.class
*.dmp
*.ilk
*.pdb
*.beam
*.cgo
*.obj
*.[oa]
*.dump
*.ncb
*.suo
*.stackdump
*.opensdf
*.sdf
*.vcxproj.*
.sconsign.*

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# Don't put the binary toolsets in the repo...
toolsets/_dl/
toolsets/_brew/
toolsets/*/nt-x86/
toolsets/*/nt-x64/
toolsets/*/osx-x86/
toolsets/*/osx-x64/
toolsets/*/osx-arm64/
toolsets/*/lin-x64/
toolsets/*/jars/
toolsets/*/jvm/
toolsets/*/python/
toolsets/*/dist/
toolsets/*/docs/

# Symbolic links
bin/osx-x86/python2

# ham
sources/ham/tests/*/*.exe
sources/ham/src/Makefile
sources/ham/src/builds/unix/config.status
sources/ham/src/jambase.c

# astyle
sources/astyle/build/vs2012/Release/
sources/astyle/build/vs2012/Debug/
sources/astyle/build/vs2012/bin/

# misc
bin/.bash_history
sources/*/tests/*.exe
sources/*/tests/*.x86
sources/*/tests/*.x64
bin/nt-x86/winscp.ini

# cppm build artifacts
bin/*/*_ra.dylib
bin/*/*_ra.dll
bin/*/*_ra.so
bin/*/*_ra.exe
bin/*/*_ra
bin/*/*_da.dylib
bin/*/*_da.dll
bin/*/*_da.so
bin/*/*_da.exe
bin/*/*_da
